$board-max-height: 456px;
$edge-margin: 24px;

.mat-accordion {
  width: 100%;
}

.mat-expansion-panel {
  background: none;
  box-shadow: none !important;
}

.boards {
  > * {
    aspect-ratio: 1;
    flex: 1 1 0;
    font-size: 14px;
    min-width: 320px;
    max-height: $board-max-height;
  }

  flex-wrap: wrap;
  gap: 16px;
  width: 100%;
}

.header {
  &.expanded {
    display: block; // Make sure margins collapse
    margin: 28px $edge-margin;
  }

  display: inline-block;
  margin: 12px $edge-margin;
  width: calc(100% - $edge-margin * 2);
  // Copy .mat-expansion-panel-header styles
  font-family: var(--mat-expansion-header-text-font);
  font-size: var(--mat-expansion-header-text-size);
  font-weight: var(--mat-expansion-header-text-weight);
  line-height: var(--mat-expansion-header-text-line-height);
  letter-spacing: var(--mat-expansion-header-text-tracking);
}

:host ::ng-deep .search .mdc-line-ripple {
  display: none;
}

:host ::ng-deep .search .mdc-text-field__input {
  caret-color: var(--color) !important;
}

.search-container {
  --mdc-outlined-text-field-container-shape: 28px;
  --mdc-filled-text-field-container-shape: 28px;

  .clear-button {
    padding: 16px;
    height: 56px;
    width: 56px;
  }
  .search {
    max-width: 640px;
    width: 100%;
  }

  margin: $edge-margin;
  justify-content: center;
  width: calc(100% - $edge-margin * 2);
}

.sites-container {
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}
