<div [@fadeIn]>
  <mat-toolbar>
    <button
      class="logo-button"
      mat-icon-button
      matTooltip="Home"
      [matTooltipShowDelay]="TOOLTIP_DELAY"
      routerLink="/sites"
    >
      <img
        alt="Merkas Logo"
        ngSrc="/assets/favicon.svg"
        priority=""
        width="48"
        height="48"
      />
    </button>
    <div>
      <button mat-icon-button (click)="logout()" color="background">
        <mat-icon>logout</mat-icon>
      </button>
    </div>
  </mat-toolbar>
  <div class="container">
    <ng-template #boardsHeader>
      <span class="header mat-content">Boards</span>
    </ng-template>
    <mat-accordion *ngIf="useAccordion; else boardsHeader">
      <mat-expansion-panel>
        <mat-expansion-panel-header>Boards</mat-expansion-panel-header>
        <div class="flex boards">
          <app-text-board [target]="'public'"></app-text-board>
          <app-file-board [target]="'public'"></app-file-board>
          <app-file-board [target]="'private'"></app-file-board>
          <app-text-board [target]="'private'"></app-text-board>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
    <span class="expanded header mat-content">Sites</span>
    <div class="flex search-container">
      <mat-form-field class="search">
        <input matInput [formControl]="searchFc" placeholder="Search" />
        <button
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="searchFc.reset('')"
          matTooltip="Clear"
          [matTooltipShowDelay]="TOOLTIP_DELAY"
        >
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <div class="flex sites-container">
      <app-site [@fadeIn] *ngFor="let site of sites" [site]="site"></app-site>
    </div>
  </div>
</div>
