.color-button {
  &.selected {
    outline: solid 2px var(--color-primary);
    outline-offset: 4px;
  }
  min-height: 56px;
  min-width: 56px;
}

@media (prefers-color-scheme: light) {
  .color-button {
    background-origin: border-box !important;
    border: solid 2px rgba(0, 0, 0, 0.1);
  }
}

.dialog-container {
  --dialog-max-width: 272px;
}
