@use '@angular/material' as mat;
@import '../../styles/material.scss';

@media screen and (orientation: portrait) {
  .centered.container {
    transform: translate(-50%, -50%) rotate(90deg);
  }
  .circle > .mat-icon {
    transform: rotate(-90deg);
  }
}

h1 {
  font-size: 25vmax;
  line-height: 1;
  margin: 0;
}

.centered {
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container {
  user-select: none;
}

.circle {
  &:hover {
    background-color: mat.get-color-from-palette($merkas-primary) !important;
  }

  > .mat-icon {
    position: absolute;
    font-size: 7%;
    height: auto;
    width: auto;
  }

  aspect-ratio: 1;
  background-color: rgba(var(--color)) !important;
  border-radius: 50%;
  bottom: 0.149em;
  cursor: pointer;
  justify-content: center;
  position: absolute;
  width: 0.11em;
  right: 0.071em;
  transition: background-color 100ms ease-in-out;
}
