@media screen and (orientation: portrait) {
  .centered.home-container {
    transform: translate(-50%, -50%) rotate(90deg);
  }
  .circle > .mat-icon {
    transform: rotate(-90deg);
  }
}

h1 {
  display: flex;
  font-size: 25vmax;
  font-weight: 400;
  line-height: 1;
  margin: 0;
}

.apps {
  &:has(.mat-ripple:hover) {
    color: var(--color-tertiary) !important;
  }
  .mat-ripple {
    pointer-events: auto;
    position: absolute;
    height: 0.7em;
    width: 0.7em;
    transform: translate(-11%, 33%);
    border-radius: 50%;
  }
  cursor: pointer;
  transition: color 100ms ease-in-out;
}

.centered {
  margin: auto;
}

.home-container {
  user-select: none;
}

.circle {
  &:hover {
    background-color: var(--color-primary) !important;
  }

  > .mat-icon {
    position: absolute;
    font-size: 7%;
    height: auto;
    width: auto;
  }

  aspect-ratio: 1;
  background-color: rgba(var(--color)) !important;
  border-radius: 50%;
  bottom: 0.144em;
  cursor: pointer;
  justify-content: center;
  position: absolute;
  width: 0.12em;
  right: 0.066em;
  transition: background-color 100ms ease-in-out;
}
