<div class="dialog-container" [formGroup]="formGroup">
  <div *ngIf="user?.username" class="flex user">
    <div class="avatar">{{ user!.username![0] }}</div>
    <div class="name">{{ user!.username }}</div>
  </div>
  <app-password-field
    [fc]="formGroup.controls.currentPassword"
    [label]="'Current Password'"
  ></app-password-field>
  <app-password-field
    [fc]="formGroup.controls.newPassword"
    [label]="'New Password'"
  ></app-password-field>
  <app-password-field
    [fc]="formGroup.controls.confirmPassword"
    [label]="'Confirm Password'"
  ></app-password-field>
</div>
