<div [formGroup]="formGroup">
  <div class="flex">
    <div class="avatar">m</div>
    <div class="username">matthew</div>
  </div>
  <br />
  <app-password-field
    [fc]="formGroup.controls.currentPassword"
    [label]="'Current Password'"
  ></app-password-field>
  <app-password-field
    [fc]="formGroup.controls.newPassword"
    [label]="'New Password'"
  ></app-password-field>
  <app-password-field
    [fc]="formGroup.controls.confirmPassword"
    [label]="'Confirm Password'"
  ></app-password-field>
</div>
