@media screen and (max-width: 600px) {
  .mat-mdc-fab {
    bottom: 16px;
    right: 16px;
  }
}
@media not screen and (max-width: 600px) {
  .mat-mdc-fab {
    bottom: 48px;
    right: 48px;
  }
}
.mat-mdc-fab {
  position: fixed;
  z-index: 10;
}
