<mat-form-field appearance="fill">
  <mat-label>{{ label }}</mat-label>
  <input
    [formControl]="fc"
    matInput
    type="{{ showPassword ? 'text' : 'password' }}"
  />
  <button
    (click)="showPassword = !showPassword"
    (mouseenter)="onMouseEnter()"
    [matTooltipShowDelay]="TOOLTIP_DELAY"
    [matTooltip]="tooltip"
    mat-icon-button
    matSuffix
  >
    <mat-icon>
      {{ showPassword ? 'visibility' : 'visibility_off' }}
    </mat-icon>
  </button>
  <mat-error *ngIf="fc?.hasError('required'); else mismatchError">
    {{ label }} is required
  </mat-error>
  <mat-error *ngIf="fc?.hasError('minlength')">
    Must be at least {{ fc.getError('minlength').requiredLength }} characters
    long
  </mat-error>
  <ng-template #mismatchError>
    <mat-error *ngIf="fc?.hasError('mismatch')">
      Must match New Password
    </mat-error>
  </ng-template>
</mat-form-field>
