@use '@angular/material' as mat;
@use '../../styles/merkas-theme';

@media screen and (max-width: 600px) {
  .mat-mdc-fab {
    bottom: 16px;
    right: 16px;
  }
}
@media not screen and (max-width: 600px) {
  .mat-mdc-fab {
    bottom: 48px;
    right: 48px;
  }
}
.mat-mdc-fab {
  position: fixed;
  z-index: 10;
}

.mat-toolbar {
  background-color: transparent;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 1;
}
@media screen and (orientation: portrait) and (max-width: 600px) {
  .mat-toolbar {
    height: 72px;
    padding: 12px;
  }
}

.inverse {
  @include mat.icon-button-color(merkas-theme.$light-theme);
  @include mat.system-level-colors(merkas-theme.$light-theme);
}
@media (prefers-color-scheme: light) {
  .inverse {
    @include mat.icon-button-color(merkas-theme.$dark-theme);
    @include mat.system-level-colors(merkas-theme.$dark-theme);
  }
}
.dark {
  @include mat.icon-button-color(merkas-theme.$dark-theme);
  @include mat.system-level-colors(merkas-theme.$dark-theme);
}
.light {
  @include mat.icon-button-color(merkas-theme.$light-theme);
  @include mat.system-level-colors(merkas-theme.$light-theme);
}

.logo-button {
  > svg {
    fill: var(--sys-on-background);
    width: 48px;
    height: 48px;
  }

  padding: 0;
}
