<mat-toolbar
  *ngIf="showToolbar"
  [@fadeIn]
  [class.inverse]="store.ui.toolbarTheme === 'inverse'"
  [class.dark]="store.ui.toolbarTheme === 'dark'"
  [class.light]="store.ui.toolbarTheme === 'light'"
>
  <button
    [matTooltipShowDelay]="TOOLTIP_DELAY"
    [routerLink]="getToken() ? DEFAULT_PATH : '/'"
    class="logo-button"
    mat-icon-button
    matTooltip="Home"
  >
    <svg
      id="M"
      viewBox="0 0 24 24"
      version="1.1"
      width="24"
      height="24"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:svg="http://www.w3.org/2000/svg"
    >
      <defs id="defs1">
        <style id="style1">
          .cls-2 {
            fill: none;
            stroke: color-mix(
              in srgb,
              var(--sys-on-background) 50%,
              var(--sys-background)
            );
            stroke-miterlimit: 10;
            stroke-width: 5px;
          }
          .cls-3 {
            fill: currentColor;
          }
        </style>
      </defs>
      <path
        class="cls-2"
        d="m 5.1709078,18.081987 c 0,-0.718256 3.0568316,-1.292857 6.8290922,-1.292857 3.772261,0 6.829092,0.578194 6.829092,1.292857"
        id="path1"
        style="
          display: inline;
          fill: none;
          stroke-width: 1.33909;
          stroke-linecap: round;
          stroke-linejoin: round;
          stroke-miterlimit: 10;
          stroke-dasharray: none;
        "
      />
      <path
        class="cls-3"
        d="M 6.2307698,19.3768 V 4 h 2.6202326 l 3.1143036,8.751745 h 0.0222 L 15.040747,4.0078184 H 17.76923 V 19.384617 H 16.00668 V 5.8478222 H 15.98447 L 12.756372,15.274583 H 11.010474 L 7.765715,6.1683892 H 7.7435089 V 19.376801 Z"
        id="path2"
        style="stroke-width: 0.268962"
      />
      <path
        class="cls-2"
        d="m 18.830456,18.096372 c 0,0.720159 -3.05744,1.296288 -6.830455,1.296288 -3.7730148,0 -6.8304575,-0.579727 -6.8304575,-1.296288"
        id="path3"
        style="
          display: inline;
          stroke-width: 1.33909;
          stroke-linecap: round;
          stroke-linejoin: round;
          stroke-dasharray: none;
        "
      />
    </svg>
  </button>
  <div>
    <button
      [matMenuTriggerFor]="optionsMenu"
      [matTooltipShowDelay]="TOOLTIP_DELAY"
      color="background"
      mat-icon-button
      matTooltip="Options"
    >
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #optionsMenu="matMenu">
      <button
        *ngIf="getToken()"
        (click)="openDialog(AccountDialogComponent)"
        mat-menu-item
      >
        <mat-icon>person</mat-icon>
        Account
      </button>
      <button (click)="openDialog(ThemeDialogComponent)" mat-menu-item>
        <mat-icon>palette</mat-icon>
        Theme
      </button>
      <button
        *ngFor="let option of extraOptions"
        (click)="openDialog(option.component)"
        mat-menu-item
      >
        <mat-icon>{{ option.icon }}</mat-icon>
        {{ option.label }}
      </button>
      <button *ngIf="getToken(); else logIn" (click)="logout()" mat-menu-item>
        <mat-icon>logout</mat-icon>
        Log out
      </button>
      <ng-template #logIn>
        <button (click)="openDialog(LoginDialogComponent)" mat-menu-item>
          <mat-icon>login</mat-icon>
          Log in
        </button>
      </ng-template>
    </mat-menu>
  </div>
</mat-toolbar>

<button
  (click)="openDialog(AppsDialogComponent)"
  *ngIf="store.ui.fab && showToolbar"
  [@fade]
  mat-fab
  matTooltip="Apps"
  matTooltipPosition="above"
  [matTooltipShowDelay]="TOOLTIP_DELAY"
>
  <mat-icon>apps</mat-icon>
</button>
