/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@import 'app/styles/material.scss';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  // Variables
  --app-max-width: 1920px;
  --app-mobile-width: 400px;
  --background-color: 21, 21, 21;
  --border-radius: 18px;
  --color: var(--sys-on-background);
  --color-primary: var(--sys-primary);
  --color-secondary: var(--sys-secondary);
  --color-tertiary: var(--sys-tertiary);
  --padding-vertical: 64px;
  // Material overrides
  --mdc-filled-text-field-container-shape: calc(var(--border-radius) / 2);
  --mdc-filled-text-field-container-color: color-mix(
    in srgb,
    var(--sys-on-surface-variant) 8%,
    var(--sys-surface-variant)
  );
  --mdc-icon-button-state-layer-size: 48px;
  --mdc-elevated-card-container-color: var(--sys-surface-variant);
  --mdc-outlined-card-container-color: var(--sys-surface-variant);
  --mdc-outlined-card-outline-color: color-mix(
    in srgb,
    var(--sys-outline) 50%,
    transparent
  );
  --mdc-outlined-text-field-container-shape: calc(var(--border-radius) / 2);
}
@media (prefers-color-scheme: light) {
  body {
    --mdc-outlined-card-outline-color: var(--sys-outline-variant);
  }
}
@media screen and (max-width: 840px) {
  body {
    --padding-horizontal: 16px;
  }
}
@media not screen and (max-width: 840px) {
  body {
    --padding-horizontal: 80px;
  }
}

.centered {
  position: absolute !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.container {
  justify-content: space-around;
  flex-wrap: wrap;
  margin: auto;
  max-width: min(
    calc(100% - calc(var(--padding-horizontal) * 2)),
    var(--app-max-width)
  );
  padding: var(--padding-vertical) 0;
  width: 100%;
}

.display-none {
  display: none;
}

.flex {
  align-items: center;
  display: flex;
}

.hint {
  cursor: help;
  text-decoration-style: dotted;
}

// Copied from .material-symbols-outlined class
.material-icons {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.mat-mdc-card {
  --mat-standard-button-toggle-selected-state-text-color: var(
    --sys-on-secondary
  );
  --mat-standard-button-toggle-selected-state-background-color: var(
    --sys-secondary
  );
  --mdc-elevated-card-container-shape: var(--border-radius);
}

.mat-mdc-card:not([class*='mat-elevation-z']) {
  box-shadow: none;
}

.mat-mdc-card-subtitle {
  color: var(--sys-on-surface-variant) !important;
}

@media screen and (orientation: portrait) and (max-width: 400px) {
  .mat-expansion-panel-body {
    padding: 0 0 16px !important;
  }
  .mat-mdc-dialog-surface {
    --mdc-dialog-container-shape: 0;
  }
}

@media not screen and (orientation: portrait) and (max-width: 400px) {
  .mat-mdc-dialog-surface {
    --mdc-dialog-container-shape: var(--border-radius);
  }
}

.mat-mdc-button-base:not(.mat-mdc-icon-button) {
  border-radius: calc(var(--border-radius) / 2) !important;
}

.mat-mdc-menu-panel {
  border-radius: calc(var(--border-radius) / 2) !important;
}

.mdc-text-field--filled {
  border-radius: var(--mdc-filled-text-field-container-shape) !important;
}

.hide-subscript .mat-mdc-form-field-subscript-wrapper {
  display: none;
}
