@media screen and (orientation: portrait) and (max-width: 600px) {
  .mat-mdc-card {
    min-height: 100dvh;
    min-width: 100dvw;
  }
  .mat-mdc-dialog-content {
    max-height: calc(100dvh - 149px);
  }
}

.mat-mdc-card {
  max-height: 80dvh;
}

.mat-mdc-card-header,
.mat-mdc-dialog-actions {
  padding: var(--dialog-spacing);
}

.mat-mdc-dialog-content {
  color: rgb(var(--color));
  //overflow: visible;
  padding: 0 var(--dialog-spacing);
}

.mat-mdc-card-header {
  .mat-mdc-icon-button {
    margin: -8px;
  }

  justify-content: space-between;
}

.mat-mdc-form-field {
  width: 100%;
}

.mat-mdc-icon-button {
  margin-right: 2px;
}

.mat-mdc-progress-spinner {
  margin: auto;
}

.action-buttons {
  > * {
    flex: 1;
    width: 100%;
  }

  display: flex;
  width: 100%;
}
