<a *ngIf="app" (click)="dialogRef?.close()" [routerLink]="app.routerLink">
  <ng-container *ngTemplateOutlet="card"></ng-container>
</a>
<a *ngIf="!app && site" [href]="siteUrl">
  <ng-container *ngTemplateOutlet="card"></ng-container>
</a>
<ng-template #card>
  <mat-card
    [appearance]="appearance"
    [ngClass]="appearance"
    class="draw"
    matRipple
  >
    <mat-card-header>
      <mat-card-title>{{ app?.title || site!.title }}</mat-card-title>
      <mat-card-subtitle>
        {{ app?.subtitle || site!.subtitle }}
      </mat-card-subtitle>
      <img
        *ngIf="app?.imageUrl || imageUrl"
        [@fadeIn]
        [src]="app?.imageUrl || imageUrl"
        height="40"
        mat-card-avatar
        width="40"
      />
      <img
        class="placeholder"
        height="40"
        mat-card-avatar
        ngSrc="../../../assets/icons/placeholder.svg"
        width="40"
      />
    </mat-card-header>
  </mat-card>
</ng-template>
